<div fxLayout="column" fxFlexFill>
	<div class="be-secondary-header">
		<div fxLayout="row" fxLayoutAlign="start center" fxFlex.md="60" fxLayoutGap="3px">
			<mat-form-field appearance="outline" fxFlex="15" fxFlex.md="10" class=" input-filter">
				<mat-label>Supplier</mat-label>
				<input matInput placeholder="Supplier" autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="outline" fxFlex="15" fxFlex.md="10" class=" input-filter">
				<mat-label>Supplier</mat-label>
				<input matInput placeholder="Supplier" autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="outline" fxFlex="15" fxFlex.md="10" class=" input-filter">
				<mat-label>Supplier</mat-label>
				<input matInput placeholder="Supplier" autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="outline" fxFlex="15" fxFlex.md="10" class=" input-filter">
				<mat-label>Supplier</mat-label>
				<input matInput placeholder="Supplier" autocomplete="off">
			</mat-form-field>
		</div>
	</div>
	<div class="be-page-container" fxFlex></div>
</div>
