.be-docs-component-viewer-nav .be-docs-component-viewer-nav-content {
    width: 240px;
    height: 100vh;
    overflow: auto;
}

.be-docs-component-viewer-nav-content {
	border-right: 1px solid rgb(245 235 235);
}
