/* You can add global styles to this file, and also import other style files */
// @import '@be-retail/be-theme/be-theme';
@import '~@angular/material/theming';
// @import '../dist/be-theme/theming';
// @import '../dist//be-theme/lib/styles/be-typography';

@import '../projects/be-theme/src/lib/core/theming/all-theme';
@import '../projects/be-theme/src/lib/core/theming/be-typography';
@import '../projects/be-theme/src/lib/core/theming/_be-ngx-datatable-theme';

@include mat-core($fontConfig);

$demo-primary: mat-palette($mat-pink);
$demo-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$demo-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$demo-theme: mat-light-theme($demo-primary, $demo-accent, $demo-warn);

@include angular-material-theme($demo-theme);
@include be-material-extended-theme($demo-theme);
@include be-ngx-data-table($demo-theme);

.be-docs-component-viewer-nav-content a:hover {
	background-color: mat-color($demo-primary, 50);
}

.be-docs-component-viewer-nav-content a.be-docs-component-viewer-sidenav-item-selected {
	background-color: mat-color($demo-primary, 100);
	color: mat-color($demo-primary);
}
